<!DOCTYPE HTML>
<html>
<title>User Home</title>
<link href="/css/shellstylesheet.css" rel="stylesheet">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		table {
			width: 100%;
		}
		table,
		th,
		td {
			border: 0px solid black;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 5px;
			width: 30%;
		}

		.submitInputClass {
			display: none;
		}
		
		
		.button-close {
			float: right;
			width: 3rem;
			height: 3rem;
			background-color: lightgrey;
		}

		.button-close-bottom {
			margin-left: auto;
			background-color: lightgrey;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="header">
		</div>
		<div class="wrapper clearfix">
			<div class="nav">
					<ul>
						<h1 class="sidebarheader">Site Navigation</h1>
						<li colspan=1><input type="submit" onclick="location.href='./';" name="NavHome" id="NavHome" value="Home" class="sidebarbutton" title="Browse Existing Solutions" /></li>	
						<li colspan=1><input type="submit" onclick="location.href='./history';" name="NavHistory" id="NavHistory" value="User History ðŸ“‹" class="sidebarbutton" title="Access Your Past Tickets" /></li>	
						<li colspan=1><input type="submit" onclick="location.href='./active-issues';" name="NavIssues" id="NavIssues" value="Active Issues" class="sidebarbutton" title="Monitor Your Active Tickets" /></li>	
						<li colspan=1><input type="submit" onclick="location.href='./contact';" name="NavContact" id="NavContact" value="Contact Specialist âœ‰ï¸" class="sidebarbutton" title="Submit a Ticket to Our Specialists" /></li>	
						<li colspan=1><form action="../logout" method="POST"><input type="submit" name="NavLogout" id="NavLogout" value="Log Out ðŸ’¨" class="sidebarbutton" title="Log Out of Your Account" /></form></li>
					</ul>
			</div>
			<div class="maindiv">
				<ul>
					<h1>Welcome to the mainpage!</h1>
					<form action="/user/searched" method="post">
						<li colspan=1><input placeholder="Search for a problem type..." name="searchbar" type="text"
								class="textinput" id="searchbar" value="" size="30" list="taglist" />
								<datalist id="taglist">
									<option value="Computers">Computers</option>
									<option value="Printers">Printers</option>
									<option value="Network">Network</option>
									<option value="Laptop">Laptop</option>
									<option value="Charger">Charger</option>
									<option value="Monitor">Monitor</option>
									<option value="Ports">Ports</option>
									<option value="Windows">Windows</option>
									<option value="Linux">Linux</option>
									<option value="Paper Jam">Paper Jam</option>
									<option value="Monitor Screen">Monitor Screen</option>
									<option value="Startup Issues">Startup Issues</option>
								</datalist>
							<input type="submit" value="Search" class="searchbutton">
					</form>
					
					<button onclick="initiateNewTicketForm()" type="submit" class="searchbutton" style="width:30%;">Open New Ticket</button>
					<input id="BackButton" type="submit" value="Back" onclick="location.href='./';" method="get" class="searchbutton" style="visibility:hidden">

				</ul>
				<%	if(point == "initialEntry") {
					%>
				<table>
					<tr>
						<% for(var u = 0; u < Object.keys(data).length; u++) { %>
						<td>
							<button onclick="grabProblemCategory()" type="submit" id=<%= data[u].tagName %>
								class="sidebarbutton">
								<%= data[u].tagName %> </button>
						</td>
						<%	if (((u + 1) % 3) === 0) { %>
					</tr>
					<tr>
						<% }} %>
				</table>
				<% } else if (point == "maintagEntry") { %>
				<script>document.getElementById("BackButton").style.visibility="visible";</script>
				<table>
					<tr>
						<th>Issue</th>
						<th>Resolution</th>
					</tr>
					<tr>
						<% for(var u = 0; u < Object.keys(data).length; u++) { %>
						<td>
							<%= data[u].ticketDescription %>
						</td>
						<td>
							<%= data[u].resolvedDescription %>
						</td>
					</tr>
					<tr>
						<% } %>
				</table>
				<% } else if (point == "newTicketEntry") { %>
				<form name="form11" id="form11" action="/user/processnewTicket" method="post">
					Problem Description:
					<input type="text" id="problemDescription" name="problemDescription" size="50" multiple><br><br>
					mainTag:
					<select name="mainTag" id="mainTag"
						onchange="secondaryTagChangeFunction(<%=JSON.stringify(mainTagObject)%>)">
						<option value="select-mainTag-value" selected="selected">Select main tag</option>
						<% let values = Object.keys(mainTagObject)
       for (let index=0;index< values.length;index++) { %>
						<option value="<%=values[index]%>"><%=values[index].split("_")[1]%></option>
						<% }%>
					</select>
					<br /><br />
					secondaryTag:
					<select name="secondaryTag" id="secondaryTag"
						onchange="tertiaryTagChangeFunction(<%=JSON.stringify(mainTagObject)%>)">
						<option value="" selected="selected">
							Please select main tag first
						</option>
					</select>
					<br /><br />
					tertiaryTag:
					<select name="tertiaryTag" id="tertiaryTag" onchange="decideOnTheMessage()">
						<option value="" selected="selected">
							Please select secondary tag first
						</option>
					</select>
					<br /><br />
					<div id="submitInput" class="submitInputClass"><input type="submit" value="Submit" /></div>
					<br>

				</form>
				<p id="commMessage">Please choose at least the main tag to be able to submit the ticket</p>
				<br>
				<form name="form111" id="form111" action="/user" method="get">
					<button>Cancel</button>
				</form>
				<% } else { %>
				<% if (data.length == 0) { %>
				<h1>NO RESULTS FOUND</h1>
				<% } else { %>
				<table>
					<tr>
						<th>issue</th>
						<th>resolution</th>
					</tr>
					<tr>
						<% for(var u = 0; u < Object.keys(data).length; u++) { %>
						<td>
							<%= data[u].ticketDescription %>
						</td>
						<td>
							<%= data[u].resolvedDescription %>
						</td>
					</tr>
					<tr>
						<% } %>
				</table>
				<% }} %>
			</div>
		</div>
	</div>
	<script type="text/javascript">

		function standardPost(path, params, method = 'post') {

			// The rest of this code assumes you are not using a library.
			// It can be made less verbose if you use one.
			const form = document.createElement('form');
			form.method = method;
			form.action = path;

			for (const key in params) {
				if (params.hasOwnProperty(key)) {
					const hiddenField = document.createElement('input');
					hiddenField.type = 'hidden';
					hiddenField.name = key;
					hiddenField.value = params[key];

					form.appendChild(hiddenField);
				}
			}

			document.body.appendChild(form);
			form.submit();
		}
		function grabProblemCategory() {
			// let currentVal = document.getElementById("testbtn").value
			let currentVal2 = event.target.id
			standardPost('/user/maintag', { problemCategory: currentVal2 });
			console.log(currentVal2)
		}
		function initiateNewTicketForm() {
			// ACTION: you can capture anything from the form here and pass to route
			standardPost('/user/initiatenewticket', {})
		}
		function decideOnTheMessage() {
			let mainTagSel = document.getElementById("mainTag");
			let messageP = document.getElementById("commMessage")
			let submitInput = document.getElementById("submitInput")
			if (mainTagSel.value !== "select-mainTag-value") {
				messageP.innerText = "Thanks for the selections!"
				submitInput.style.display = "block" //so that submit button will be presented
			} else {
				messageP.innerText = "Please choose at least the main tag to be able to submit the ticket!"
				submitInput.style.display = "none"
			}
		}

		function secondaryTagChangeFunction(mainTagObject) {
			let mainTagSel = document.getElementById("mainTag");
			let secondaryTagSel = document.getElementById("secondaryTag");
			let tertiaryTagSel = document.getElementById("tertiaryTag")
			if (mainTagSel.value !== "select-mainTag-value") {
				let possibleValuesForSecondaryTag = mainTagObject[mainTagSel.value]
				secondaryTagSel.options[0] = new Option("select secondary tag", "select secondary tag")
				secondaryTagSel.length = 1
				tertiaryTagSel.length = 0
				let optionsReset = document.createElement("option")
				optionsReset.text = "Please select secondary tag first"
				optionsReset.value = "Please select secondary tag first"
				tertiaryTagSel.add(optionsReset)
				for (let index = 0; index < possibleValuesForSecondaryTag.length; index++) {
					secondaryTagSel.options[index + 1] = new Option(possibleValuesForSecondaryTag[index].split("_")[1],
						possibleValuesForSecondaryTag[index])
				}
			} else {
				secondaryTagSel.length = 0
				let optionsReset = document.createElement("option")
				optionsReset.text = "Please select main tag first"
				optionsReset.value = "Please select main tag first"
				secondaryTagSel.add(optionsReset)
				tertiaryTagSel.length = 0
				optionsReset = document.createElement("option")
				optionsReset.text = "Please select secondary tag first"
				optionsReset.value = "Please select secondary tag first"
				tertiaryTagSel.add(optionsReset)
			}
			decideOnTheMessage()
		}

		function tertiaryTagChangeFunction(mainTagObject) {
			let mainTagSel = document.getElementById("mainTag");
			let secondaryTagSel = document.getElementById("secondaryTag");
			let tertiaryTagSel = document.getElementById("tertiaryTag")
			if (secondaryTagSel.value !== "select secondary tag") {
				let possibleValuesForTertiaryTagArr = mainTagObject[mainTagSel.value]
				tertiaryTagSel.options[0] = new Option("select tertiary tag", "select tertiary tag")
				for (let index = 0; index < possibleValuesForTertiaryTagArr.length; index++) {
					tertiaryTagSel.options[index + 1] = new Option(possibleValuesForTertiaryTagArr[index].split("_")[1],
						possibleValuesForTertiaryTagArr[index])
				}
			}
			decideOnTheMessage()
		}
		
	</script>



</body>
<script src="javascript/functions1.js"></script>

</html>